<!DOCTYPE html>

<html>
   <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600&display=swap" rel="stylesheet"> -->

        <title>{{ title }}</title>
        <style>
        body {
                height: 100%;
                margin: 15%;
                color: #f0f0f0;
                background-color: #333333;
                font-family: 'IBM Plex Sans', sans-serif;
                align-items: center;
        }
        .d-flex {
                justify-content:space-around;
        }
        .container__button {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
        }
        .button {
                display: block;
                width: 6em;
                height: 6em;
                border-radius: 50%;
        }
        .button--red {
                background-color: red;
        }
        .button--yellow {
                background-color: yellow;
        }
        .button--white {
	        background-color: white;
	}
        </style>
   </head>


   <body>


        <center><h1 style=font-size:40px><font color="#F00"><b>{{ error }}</b></font></h1></center>

        <center><h1 style=font-size:40px>{{ ch }}</h1></center>


        <div class="d-flex flex-column bd-highlight">

                <div class="d-flex flex-row bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                        <form method="POST" action="setch">
                                <button name="ch_select" type="submit" class="button button--white" value="1"><h1 style=font-size:40px>1</h1></button>
                        </form>
                        </div>
                        <div class="p-2 bd-highlight">
                        <form method="POST" action="setch">
                                <button name="ch_select" type="submit" class="button button--white" value="2"><h1 style=font-size:40px>2</h1></button>
                        </form>
                        </div>
                        <div class="p-2 bd-highlight">
                        <form method="POST" action="setch">
                                <button name="ch_select" type="submit" class="button button--white" value="3"><h1 style=font-size:40px>3</h1></button>
                        </form>
                        </div>
                </div>                

                <div class="d-flex flex-row bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                        <form method="POST" action="setch">
                                <button name="ch_select" type="submit" class="button button--white" value="4"><h1 style=font-size:40px>4</h1></button>
                        </form>
                        </div>
                        <div class="p-2 bd-highlight">
                        <form method="POST" action="setch">
                                <button name="ch_select" type="submit" class="button button--white" value="5"><h1 style=font-size:40px>5</h1></button>
                        </form>
                        </div>
                        <div class="p-2 bd-highlight">
                        <form method="POST" action="setch">
                                <button name="ch_select" type="submit" class="button button--white" value="6"><h1 style=font-size:40px>6</h1></button>
                        </form>
                        </div>
                </div>

                <div class="d-flex flex-row bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                        <form method="POST" action="setch">
                                <button name="ch_select" type="submit" class="button button--white" value="7"><h1 style=font-size:40px>7</h1></button>
                        </form>
                        </div>
                        <div class="p-2 bd-highlight">
                        <form method="POST" action="setch">
                                <button name="ch_select" type="submit" class="button button--white" value="8"><h1 style=font-size:40px>8</h1></button>
                        </form>
                        </div>
                        <div class="p-2 bd-highlight">
                        <form method="POST" action="setch">
                                <button name="ch_select" type="submit" class="button button--white" value="9"><h1 style=font-size:40px>9</h1></button>
                        </form>
                        </div>
                </div>

                <div class="d-flex flex-row bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                        <form method="POST" action="stop">
                                <button name="stop" type="submit" class="button button--white"><h1 style=font-size:40px>■</h1></button>
                        </form>
                        </div>
                        <div class="p-2 bd-highlight">
                        <form method="POST" action="setch">
                                <button name="ch_select" type="submit" class="button button--white" value="0"><h1 style=font-size:40px>0</h1></button>
                        </form>
                        </div>
                        <div class="p-2 bd-highlight">
                        <form method="POST" action="shutdown">
                                <a href="./"><button name="shutdown" type="submit" class="button button--red"><h1 style=font-size:40px>off</h1></button></a>
                        </form>
                        </div>
                </div>
		
		<div class="d-flex flex-row bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                        <form method="POST" action="custom">
				<label for="addr">Custom address:</label>
				<input name="addr" type="text" id="addr"><br>
                                <button name="yt" type="submit" value="0">Submit custom stream</button>
				<button name="yt" type="submit" value="1">Submit Youtube video</button>
                        </form>
                        </div>
		</div>
        
        </div>



    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

   </body>
</html>
